<form class="{{cssClass}}" autocomplete="off">

  {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
  <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Ranger"
         data-dtype="String"/>
  <input type="hidden" id="system.details.critRange" name="system.details.critRange" value="20" data-dtype="Number"/>


  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a data-tab="character">{{localize "DCC.Character"}}</a>
    <a data-tab="equipment">{{localize "DCC.Equipment"}}</a>
    <a data-tab="ranger">{{localize "Ranger.Ranger"}}</a>
    {{#if system.config.showSpells}}
    <a data-tab="spells">{{localize "DCC.Spells"}}</a>
    {{/if}}
    {{#if system.config.showSkills}}
    <a data-tab="skills">{{localize "DCC.Skills"}}</a>
    {{/if}}
    <a data-tab="notes">{{localize "DCC.Notes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Character Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-common.html }}

    {{!-- Equipment Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

    {{!-- Spells Tab --}}
    {{> systems/dcc/templates/actor-partial-cleric-spells.html }}

    {{!-- Skills Tab --}}
    {{> systems/dcc/templates/actor-partial-skills.html }}

    {{!-- Notes Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-notes.html }}

    {{!-- Class Tab --}}
    <div class="tab" data-group="primary" data-tab="ranger">
      <div class="grid-container">
        <div class="grid-col-span-12 dark-border">
          <div class="dark-title">{{localize "Ranger.RangerAbilities"}}</div>
          <div class="grid-tpl-two grid-row-gap-8 p-5">
            <div class="grid-tpl-max-25" data-skill="climb">
              <label class="skill-check rollable" for="system.skills.climb.value">
                {{localize "Ranger.Climb"}}
              </label>
              <input type="text" id="system.skills.climb.value" name="system.skills.climb.value"
                     value="{{system.skills.climb.value}}" data-dtype="String"/>
            </div>
            <div class="grid-tpl-max-25" data-skill="sneak">
              <label class="skill-check rollable" for="system.skills.sneak.value">
                {{localize "Ranger.Sneak"}}
              </label>
              <input type="text" id="system.skills.sneak.value" name="system.skills.sneak.value"
                     value="{{system.skills.sneak.value}}" data-dtype="String"/>
            </div>
            <div class="grid-tpl-max-25" data-skill="strider">
              <label class="skill-check rollable" for="system.skills.strider.value">
                {{localize "Ranger.Strider"}}
              </label>
              <input type="text" id="system.skills.strider.value" name="system.skills.strider.value"
                     value="{{system.skills.strider.value}}" data-dtype="String"/>
            </div>
            <div class="grid-tpl-max-25" data-skill="survival">
              <label class="skill-check rollable" for="system.skills.survival.value">
                {{localize "Ranger.Survival"}}
              </label>
              <input type="text" id="system.skills.survival.value" name="system.skills.survival.value"
                     value="{{system.skills.survival.value}}" data-dtype="String"/>
            </div>

            <div class="grid-tpl-max-25" data-skill="findTrap">
              <label class="skill-check rollable" for="system.skills.findTrap.value">
                {{localize "Ranger.FindTrap"}}
              </label>
              <input type="text" id="system.skills.findTrap.value" name="system.skills.findTrap.value"
                     value="{{system.skills.findTrap.value}}" data-dtype="String"/>
            </div>
            <div></div>
            <div class="grid-tpl-max-auto grid-col-span-2">
              <label for="system.class.favoredEnemies">{{localize "Ranger.FavoredEnemies"}}:</label>
              <input id="system.class.favoredEnemies" name="system.class.favoredEnemies"
                     value="{{system.class.favoredEnemies}}" data-dtype="String" style="width: 360px"/>
            </div>

            <ul class="class-note data-font grid-col-span-2">
              <li>
                {{localize "Ranger.Path"}}
                <ul>
                  <li>
                    {{localize "Ranger.ArcheryExpert"}}
                    <ul>
                      <li>{{localize "Ranger.ArcheryExpertDesc"}}</li>
                    </ul>
                  <li>{{localize "Ranger.TwoWeaponExpert"}}
                    <ul>
                      <li>{{localize "Ranger.TwoWeaponExpertDesc"}}</li>
                    </ul>
                  </li>
                </ul>
              <li>{{localize "Ranger.Luck"}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

