<form class="{{cssClass}}" autocomplete="off">

    {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
    <input type="hidden" id="data.details.sheetClass" name="data.details.sheetClass" value="Bard" data-dtype="String"/>
    <input type="hidden" id="data.details.critRange" name="data.details.critRange" value="20" data-dtype="Number"/>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a data-tab="character">{{localize "DCC.Character"}}</a>
        <a data-tab="equipment">{{localize "DCC.Equipment"}}</a>
        <a data-tab="bard">{{localize "Bard.Bard"}}</a>
        <a data-tab="spells">{{localize "DCC.Spells"}}</a>
        {{#if system.config.showSkills}}
        <a data-tab="skills">{{localize "DCC.Skills"}}</a>
        {{/if}}
        <a data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-common.html }}

        {{!-- Equipment Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

        {{!-- Spells Tab --}}
        {{> systems/dcc/templates/actor-partial-wizard-spells.html }}

        {{!-- Skills Tab --}}
        {{> systems/dcc/templates/actor-partial-skills.html }}

        {{!-- Notes Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-notes.html }}

        {{!-- Class Tab --}}
        <div class="tab" data-group="primary" data-tab="bard">
            <div class="grid-container">
                <input type="hidden" id="system.class.spellCheckAbility" name="system.class.spellCheckAbility" value="int">

                <div class="grid-col-span-12 dark-border">
                    <div class="dark-title">{{localize "Bard.BardAbilities"}}</div>
                    <div class="grid-tpl-two grid-row-gap-8 p-5">
                        <div class="grid-tpl-max-25 grid-col-gap-5" data-skill="talentDie">
                            <label class="skill-check rollable" for="system.skills.talentDie.die">
                                {{localize "Bard.TalentDie"}}
                            </label>
                            <input type="text" id="system.skills.talentDie.die" name="system.skills.talentDie.die"
                                   value="{{system.skills.talentDie.die}}" data-dtype="String"/>
                        </div>
                        <div class="grid-tpl-max-25" data-ability="int">
                            <label class="spell-check rollable" for="system.class.spellCheck">
                                {{localize "DCC.SpellCheck"}}
                            </label>
                            <input type="text" id="system.class.spellCheck" name="system.class.spellCheck"
                                   value="{{numberFormat system.class.spellCheck decimals=0 sign=true}}"
                                   data-dtype="String"/>
                        </div>
                        <div></div>
                        <div class="grid-col-span-12 grid-tpl-max">
                            <div class="grid-col-span-12 dark-title" style="">{{localize "DCC.Corruptions"}}</div>
                            {{editor corruptionHTML target="system.class.corruption" engine="prosemirror" button=true
                            editable=editable}}
                        </div>
                        <ul class="grid-col-span-12 class-note">
                            <li>
                                {{localize "Bard.BardicTalents"}}
                                <ul>
                                    <li>{{localize "Bard.BardicTalentsDesc"}}</li>
                                    <li>
                                        <ul>
                                            <li>{{localize "Bard.CallToArms"}}
                                                <ul>
                                                    <li>{{localize "Bard.CallToArmsDesc"}}</li>
                                                </ul>
                                            </li>
                                            <li>{{localize "Bard.Challenge"}}
                                                <ul>
                                                    <li>{{localize "Bard.ChallengeDesc"}}</li>
                                                </ul>
                                            </li>
                                            <li>{{localize "Bard.Calm"}}
                                                <ul>
                                                    <li>{{localize "Bard.CalmDesc"}}</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                {{localize "Bard.Lore"}}
                                <ul>
                                    <li>{{localize "Bard.LoreDesc"}}</li>
                                </ul>
                            </li>
                            <li>{{localize "Bard.Luck"}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

