<form class="{{cssClass}}" autocomplete="off">
    {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
    <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Orc"
           data-dtype="String"/>
    <input type="hidden" id="system.details.critRange" name="system.details.critRange" value="20" data-dtype="Number"/>


    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
        <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
        <a class="item" data-tab="class">{{localize "Orc.Orc"}}</a>
        {{#if system.config.showSpells}}
        <a class="item" data-tab="spells">{{localize "DCC.Spells"}}</a>
        {{/if}}
        {{#if system.config.showSkills}}
        <a class="item" data-tab="skills">{{localize "DCC.Skills"}}</a>
        {{/if}}
        <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-common.html }}

        {{!-- Equipment Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

        {{!-- Spells Tab --}}
        {{> systems/dcc/templates/actor-partial-cleric-spells.html }}

        {{!-- Skills Tab --}}
        {{> systems/dcc/templates/actor-partial-skills.html }}

        {{!-- Notes Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-notes.html }}

        {{!-- Class Tab --}}
        <div class="tab" data-group="primary" data-tab="class">
            <h4 class="class-label">{{localize "Orc.OrcAbilities"}}</h4>
            <div class="class">
                <div class="skills-container">
                    <div class="split-50-25-25" data-skill="rageDie">
                        <label class="skill-check rollable" for="system.skills.rageDie.die">{{localize
                            "Orc.RageDie"}}</label>
                        <input type="text" id="system.skills.rageDie.die" name="system.skills.rageDie.die"
                               value="{{system.skills.rageDie.die}}" data-dtype="String"/>
                        <input type="text" id="system.skills.rageDie.value" name="system.skills.rageDie.value"
                               value="{{numberFormat system.skills.rageDie.value decimals=0 sign=true}}"
                               data-dtype="Number"/>
                    </div>
                    <ul class="class-note flexcol">
                        <li> {{localize "Orc.Rage"}}</li>
                        <ul class="class-note flexcol">
                            <li>{{localize "Orc.RageDesc"}}</li>
                        </ul>
                        <li>{{localize "Orc.NaturalWeapons"}}</li>
                        <ul class="class-note flexcol">
                            <li>{{localize "Orc.NaturalWeaponsDesc"}}</li>
                        </ul>
                        <li>{{localize "Orc.Initiative"}}</li>
                        <ul class="class-note flexcol">
                            <li>{{localize "Orc.InitiativeDesc"}}</li>
                        </ul>
                        <li>{{localize "Orc.Intimidating"}}</li>
                        <ul class="class-note flexcol">
                            <li>{{localize "Orc.IntimidatingDesc"}}</li>
                        </ul>
                        <li>{{localize "DCC.Infravision"}}</li>
                    </ul>
                </div>
                <br>
                <h4 class="class-label"> {{localize "Orc.RageTable"}} </h4>
                <div class="divTable classTable">
                    <div class="divTableHeading">
                        <div class="divTableRow">
                            <div class="divTableHead">Rage</div>
                            <div class="divTableHead">Atk/Dmg</div>
                            <div class="divTableHead">HP</div>
                            <div class="divTableHead">Fort</div>
                            <div class="divTableHead">DR</div>
                            <div class="divTableHead">Speed</div>
                            <div class="divTableHead">Action Dice</div>
                        </div>
                    </div>
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell">2</div>
                            <div class="divTableCell">+1</div>
                            <div class="divTableCell">+1</div>
                            <div class="divTableCell">-</div>
                            <div class="divTableCell">-</div>
                            <div class="divTableCell">-</div>
                            <div class="divTableCell">-</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">3</div>
                            <div class="divTableCell">+1</div>
                            <div class="divTableCell">+2</div>
                            <div class="divTableCell">+1</div>
                            <div class="divTableCell">-</div>
                            <div class="divTableCell">-</div>
                            <div class="divTableCell">-</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">4</div>
                            <div class="divTableCell">+2</div>
                            <div class="divTableCell">+3</div>
                            <div class="divTableCell">+1</div>
                            <div class="divTableCell">-</div>
                            <div class="divTableCell">-</div>
                            <div class="divTableCell">-</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">5</div>
                            <div class="divTableCell">+2</div>
                            <div class="divTableCell">+4</div>
                            <div class="divTableCell">+2</div>
                            <div class="divTableCell">-1</div>
                            <div class="divTableCell">-</div>
                            <div class="divTableCell">-</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">6</div>
                            <div class="divTableCell">+3</div>
                            <div class="divTableCell">+5</div>
                            <div class="divTableCell">+2</div>
                            <div class="divTableCell">-1</div>
                            <div class="divTableCell">-</div>
                            <div class="divTableCell">-</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">7</div>
                            <div class="divTableCell">+3</div>
                            <div class="divTableCell">+6</div>
                            <div class="divTableCell">+3</div>
                            <div class="divTableCell">-1</div>
                            <div class="divTableCell">+10 ft.</div>
                            <div class="divTableCell">-</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">8</div>
                            <div class="divTableCell">+4</div>
                            <div class="divTableCell">+7</div>
                            <div class="divTableCell">+3</div>
                            <div class="divTableCell">-1</div>
                            <div class="divTableCell">+10 ft.</div>
                            <div class="divTableCell">-</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">9</div>
                            <div class="divTableCell">+4</div>
                            <div class="divTableCell">+8</div>
                            <div class="divTableCell">+4</div>
                            <div class="divTableCell">-2</div>
                            <div class="divTableCell">+10 ft.</div>
                            <div class="divTableCell">-</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">10</div>
                            <div class="divTableCell">+5</div>
                            <div class="divTableCell">+9</div>
                            <div class="divTableCell">+4</div>
                            <div class="divTableCell">-2</div>
                            <div class="divTableCell">+10 ft.</div>
                            <div class="divTableCell">-</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">11</div>
                            <div class="divTableCell">+5</div>
                            <div class="divTableCell">+10</div>
                            <div class="divTableCell">+5</div>
                            <div class="divTableCell">-2</div>
                            <div class="divTableCell">+10 ft.</div>
                            <div class="divTableCell">+1d14</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">12</div>
                            <div class="divTableCell">+6</div>
                            <div class="divTableCell">+11</div>
                            <div class="divTableCell">+5</div>
                            <div class="divTableCell">-2</div>
                            <div class="divTableCell">+10 ft.</div>
                            <div class="divTableCell">+1d14</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">13</div>
                            <div class="divTableCell">+6</div>
                            <div class="divTableCell">+12</div>
                            <div class="divTableCell">+6</div>
                            <div class="divTableCell">-3</div>
                            <div class="divTableCell">+10 ft.</div>
                            <div class="divTableCell">+1d14</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">14</div>
                            <div class="divTableCell">+7</div>
                            <div class="divTableCell">+13</div>
                            <div class="divTableCell">+6</div>
                            <div class="divTableCell">-3</div>
                            <div class="divTableCell">+20 ft.</div>
                            <div class="divTableCell">+1d14</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">15</div>
                            <div class="divTableCell">+7</div>
                            <div class="divTableCell">+14</div>
                            <div class="divTableCell">+7</div>
                            <div class="divTableCell">-3</div>
                            <div class="divTableCell">+20 ft.</div>
                            <div class="divTableCell">+1d14</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">16</div>
                            <div class="divTableCell">+8</div>
                            <div class="divTableCell">+15</div>
                            <div class="divTableCell">+7</div>
                            <div class="divTableCell">-3</div>
                            <div class="divTableCell">+20 ft.</div>
                            <div class="divTableCell">+1d16</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">17</div>
                            <div class="divTableCell">+8</div>
                            <div class="divTableCell">+16</div>
                            <div class="divTableCell">+8</div>
                            <div class="divTableCell">-4</div>
                            <div class="divTableCell">+20 ft.</div>
                            <div class="divTableCell">+1d16</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">18</div>
                            <div class="divTableCell">+9</div>
                            <div class="divTableCell">+17</div>
                            <div class="divTableCell">+8</div>
                            <div class="divTableCell">-4</div>
                            <div class="divTableCell">+20 ft.</div>
                            <div class="divTableCell">+1d16</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">19</div>
                            <div class="divTableCell">+9</div>
                            <div class="divTableCell">+18</div>
                            <div class="divTableCell">+9</div>
                            <div class="divTableCell">-3</div>
                            <div class="divTableCell">+20 ft.</div>
                            <div class="divTableCell">+1d16</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">20</div>
                            <div class="divTableCell">+10</div>
                            <div class="divTableCell">+19</div>
                            <div class="divTableCell">+9</div>
                            <div class="divTableCell">-4</div>
                            <div class="divTableCell">+20 ft.</div>
                            <div class="divTableCell">+1d16</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">21</div>
                            <div class="divTableCell">+10</div>
                            <div class="divTableCell">+20</div>
                            <div class="divTableCell">+10</div>
                            <div class="divTableCell">-5</div>
                            <div class="divTableCell">+30 ft., 1st Init</div>
                            <div class="divTableCell">+1d20</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

